@use "../../variable.scss" as var;

#error {
    width: 100%;
    height: 100vh;
    background-color: var.$highlight-color;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    img {
        width: min(450px, 60vw);
    }

    h1, p {
        color: var.$primary-color;
    }

    h1 {
        text-transform: uppercase;
        padding-top: 10px;
    }

    a {
        font-weight: 900;
        color: var.$primary-color;

        &:hover {
            color: black;
        }
    }
}