.wrapper{
    max-width: min(90%, 1640px);
    margin: 0 auto;
}

.page-wrapper {
    min-height: 500px;
}

body{
    line-height: 1;
    min-width: 500px;
}

.none {
    display: none !important;
}

.visible {
    visibility: hidden;
}

.cursorPointer {
    cursor: pointer;
}

section {
    padding-bottom: 75px;
}

.primary-button {
    background-color: #91d0ed;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    
    &:hover {
        background-color: #8cd9dd;
    }
}

.secondary-button {
    background: linear-gradient(to right, #74e3e9, #65a5f0, #3fc3ff);
    border: none;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 
        inset 2px 2px 2px 0 rgba(255,255,255,.5), 7px 7px 20px 0 rgba(0,0,0,.1); 
    
    &:hover {
        background: linear-gradient(to right, #76f3da, #76a5e0, #34d4fc);
    }
}

// .checkbox-btn {
//     width: 15px;
//     height: 15px;
//     border: 2px solid #3288f3;
// }

.checkbox-btn {
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    width: 20px;

    appearance: none;
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    background-color: #d0f3f3;
    border: 2px solid #3288f3;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
        
    &:after {
        content: '\e64c';
        font-weight: 900;
        font-family: 'themify';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: white;
        display: none;
        font-size: 12px;
    }

    &:hover {
        background-color: #91d0ed;
    }

    &:checked {
        background-color: #3288f3;

        &:after {
            display: block;
        }
    }
}

.loading {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;

    &.none {
        display: none;
    }

    .loading-container {
        padding: 100px;
        background-color: white;
        border-radius: 40px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;

        img {
            width: 200px;
        }

        .continuous {
            width: 200px;
            height: 25px;
            border-radius: 40px;
            color: #3288f3;
            border: 2px solid;
            position: relative;
            overflow: hidden;
        }
        
        .continuous::before {
            content: "";
            position: absolute;
            margin: 2px;
            width: 14px;
            top: 0;
            bottom: 0;
            left: -20px;
            border-radius: inherit;
            background: currentColor;
            box-shadow: -10px 0 12px 3px currentColor;
            clip-path: polygon(0 5%, 100% 0,100% 100%,0 95%,-30px 50%);
            animation: ct4 1s infinite linear;
        }
          
        @keyframes ct4 {
            100% {left: calc(100% + 20px)}
        }
    }
}

@font-face {
    font-family: 'iCiel Queulat Uni';
    src: url('../src/assets/font/iCielQueulatUni/iCielQueulatUni-Regular.eot');
    src: url('../src/assets/font/iCielQueulatUni/iCielQueulatUni-Regular.eot?#iefix') format('embedded-opentype'),
        url('../src/assets/font/iCielQueulatUni/iCielQueulatUni-Regular.woff2') format('woff2'),
        url('../src/assets/font/iCielQueulatUni/iCielQueulatUni-Regular.woff') format('woff'),
        url('../src/assets/font/iCielQueulatUni/iCielQueulatUni-Regular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('./assets/font/Gilroy/SVN-GilroyBoldItalic.eot');
    src: url('./assets/font/Gilroy/SVN-GilroyBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Gilroy/SVN-GilroyBoldItalic.woff2') format('woff2'),
        url('./assets/font/Gilroy/SVN-GilroyBoldItalic.woff') format('woff'),
        url('./assets/font/Gilroy/SVN-GilroyBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('./assets/font/Gilroy/SVN-GilroyBlack.eot');
    src: url('./assets/font/Gilroy/SVN-GilroyBlack.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Gilroy/SVN-GilroyBlack.woff2') format('woff2'),
        url('./assets/font/Gilroy/SVN-GilroyBlack.woff') format('woff'),
        url('./assets/font/Gilroy/SVN-GilroyBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('./assets/font/Gilroy/SVN-GilroyBlackItalic.eot');
    src: url('./assets/font/Gilroy/SVN-GilroyBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Gilroy/SVN-GilroyBlackItalic.woff2') format('woff2'),
        url('./assets/font/Gilroy/SVN-GilroyBlackItalic.woff') format('woff'),
        url('./assets/font/Gilroy/SVN-GilroyBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('./assets/font/Gilroy/SVN-GilroyHeavy.eot');
    src: url('./assets/font/Gilroy/SVN-GilroyHeavy.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Gilroy/SVN-GilroyHeavy.woff2') format('woff2'),
        url('./assets/font/Gilroy/SVN-GilroyHeavy.woff') format('woff'),
        url('./assets/font/Gilroy/SVN-GilroyHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('./assets/font/Gilroy/SVN-GilroyBold.eot');
    src: url('./assets/font/Gilroy/SVN-GilroyBold.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Gilroy/SVN-GilroyBold.woff2') format('woff2'),
        url('./assets/font/Gilroy/SVN-GilroyBold.woff') format('woff'),
        url('./assets/font/Gilroy/SVN-GilroyBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('./assets/font/Gilroy/SVN-GilroyHeavyItalic.eot');
    src: url('./assets/font/Gilroy/SVN-GilroyHeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Gilroy/SVN-GilroyHeavyItalic.woff2') format('woff2'),
        url('./assets/font/Gilroy/SVN-GilroyHeavyItalic.woff') format('woff'),
        url('./assets/font/Gilroy/SVN-GilroyHeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('./assets/font/Gilroy/SVN-GilroyItalic.eot');
    src: url('./assets/font/Gilroy/SVN-GilroyItalic.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Gilroy/SVN-GilroyItalic.woff2') format('woff2'),
        url('./assets/font/Gilroy/SVN-GilroyItalic.woff') format('woff'),
        url('./assets/font/Gilroy/SVN-GilroyItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('./assets/font/Gilroy/SVN-GilroyLightItalic.eot');
    src: url('./assets/font/Gilroy/SVN-GilroyLightItalic.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Gilroy/SVN-GilroyLightItalic.woff2') format('woff2'),
        url('./assets/font/Gilroy/SVN-GilroyLightItalic.woff') format('woff'),
        url('./assets/font/Gilroy/SVN-GilroyLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('./assets/font/Gilroy/SVN-GilroyLight.eot');
    src: url('./assets/font/Gilroy/SVN-GilroyLight.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Gilroy/SVN-GilroyLight.woff2') format('woff2'),
        url('./assets/font/Gilroy/SVN-GilroyLight.woff') format('woff'),
        url('./assets/font/Gilroy/SVN-GilroyLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('./assets/font/Gilroy/SVN-GilroyMedium.eot');
    src: url('./assets/font/Gilroy/SVN-GilroyMedium.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Gilroy/SVN-GilroyMedium.woff2') format('woff2'),
        url('./assets/font/Gilroy/SVN-GilroyMedium.woff') format('woff'),
        url('./assets/font/Gilroy/SVN-GilroyMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('./assets/font/Gilroy/SVN-Gilroy.eot');
    src: url('./assets/font/Gilroy/SVN-Gilroy.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Gilroy/SVN-Gilroy.woff2') format('woff2'),
        url('./assets/font/Gilroy/SVN-Gilroy.woff') format('woff'),
        url('./assets/font/Gilroy/SVN-Gilroy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('./assets/font/Gilroy/SVN-GilroyMediumItalic.eot');
    src: url('./assets/font/Gilroy/SVN-GilroyMediumItalic.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Gilroy/SVN-GilroyMediumItalic.woff2') format('woff2'),
        url('./assets/font/Gilroy/SVN-GilroyMediumItalic.woff') format('woff'),
        url('./assets/font/Gilroy/SVN-GilroyMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('./assets/font/Gilroy/SVN-GilroyThin.eot');
    src: url('./assets/font/Gilroy/SVN-GilroyThin.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Gilroy/SVN-GilroyThin.woff2') format('woff2'),
        url('./assets/font/Gilroy/SVN-GilroyThin.woff') format('woff'),
        url('./assets/font/Gilroy/SVN-GilroyThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('./assets/font/Gilroy/SVN-GilroySemiBoldItalic.eot');
    src: url('./assets/font/Gilroy/SVN-GilroySemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Gilroy/SVN-GilroySemiBoldItalic.woff2') format('woff2'),
        url('./assets/font/Gilroy/SVN-GilroySemiBoldItalic.woff') format('woff'),
        url('./assets/font/Gilroy/SVN-GilroySemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy XBold';
    src: url('./assets/font/Gilroy/SVN-GilroyXBoldItalic.eot');
    src: url('./assets/font/Gilroy/SVN-GilroyXBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Gilroy/SVN-GilroyXBoldItalic.woff2') format('woff2'),
        url('./assets/font/Gilroy/SVN-GilroyXBoldItalic.woff') format('woff'),
        url('./assets/font/Gilroy/SVN-GilroyXBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('./assets/font/Gilroy/SVN-GilroyThinItalic.eot');
    src: url('./assets/font/Gilroy/SVN-GilroyThinItalic.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Gilroy/SVN-GilroyThinItalic.woff2') format('woff2'),
        url('./assets/font/Gilroy/SVN-GilroyThinItalic.woff') format('woff'),
        url('./assets/font/Gilroy/SVN-GilroyThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('./assets/font/Gilroy/SVN-GilroySemiBold.eot');
    src: url('./assets/font/Gilroy/SVN-GilroySemiBold.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Gilroy/SVN-GilroySemiBold.woff2') format('woff2'),
        url('./assets/font/Gilroy/SVN-GilroySemiBold.woff') format('woff'),
        url('./assets/font/Gilroy/SVN-GilroySemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy XBold';
    src: url('./assets/font/Gilroy/SVN-GilroyXBold.eot');
    src: url('./assets/font/Gilroy/SVN-GilroyXBold.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Gilroy/SVN-GilroyXBold.woff2') format('woff2'),
        url('./assets/font/Gilroy/SVN-GilroyXBold.woff') format('woff'),
        url('./assets/font/Gilroy/SVN-GilroyXBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy XLight';
    src: url('./assets/font/Gilroy/SVN-GilroyXLightItalic.eot');
    src: url('./assets/font/Gilroy/SVN-GilroyXLightItalic.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Gilroy/SVN-GilroyXLightItalic.woff2') format('woff2'),
        url('./assets/font/Gilroy/SVN-GilroyXLightItalic.woff') format('woff'),
        url('./assets/font/Gilroy/SVN-GilroyXLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy XLight';
    src: url('./assets/font/Gilroy/SVN-GilroyXLight.eot');
    src: url('./assets/font/Gilroy/SVN-GilroyXLight.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Gilroy/SVN-GilroyXLight.woff2') format('woff2'),
        url('./assets/font/Gilroy/SVN-GilroyXLight.woff') format('woff'),
        url('./assets/font/Gilroy/SVN-GilroyXLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

